/*-------------------------
    Footer Area
-------------------------*/

.footer-top {
    background-color: #1d2228;
}

.copyright-area {
    background-color: #161a1e;
}

.widget-ul-wrapper {
    display: flex;
    .second-ul {
        margin-left: 30px !important;
    }
}