    /*--------------------------
    Attorney Details
--------------------------*/
    
    .service-img-thumb {
        display: flex;
        .thumb-02 {
            margin-left: 30px;
        }
    }
    
    .widget-nav-menu {
        ul {
            margin: 0;
            padding: 0;
            list-style: none;
        }
    }
    
    .service-widget {
        display: flex;
        align-items: center;
        padding: 10px 30px;
        border-top: 1px solid #d7d7d7;
        border-right: 1px solid #d7d7d7;
        border-left: 1px solid #d7d7d7;
        transition: all 0.3s ease-in;
        position: relative;
        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 5px;
            height: 100%;
            background-color: var(--secondary-color);
            transform: scale(1, 0);
            transition: all 0.3s ease-in;
        }
        &:hover {
            background-color: #e8eff8;
            &::before {
                transform: scale(1, 1);
            }
        }
        .service-icon {
            font-size: 45px;
            margin-right: 15px;
            &.style-01 {
                color: #bd10e0;
            }
            &.style-02 {
                color: #ff8a73;
            }
            &.style-03 {
                color: #5580ff;
            }
            &.style-04 {
                color: #45e7ac;
            }
        }
        .service-title {
            .title {
                font-weight: 700;
                font-size: 18px;
            }
        }
    }
    
    .attorney-contact-form-wrap {
        padding: 40px 40px 25px 40px;
        background-color: var(--secondary-color);
        .title {
            font-size: 24px;
            line-height: 34px;
            font-weight: 700;
            margin-bottom: 32px;
            text-align: center;
            color: $white;
        }
        .attorney-contact-form {
            .form-group {
                textarea {
                    max-height: 70px;
                    resize: none;
                }
                .form-control {
                    background-color: #7799ff;
                    border: 1px solid transparent;
                    padding: 10px 20px;
                    &::placeholder {
                        color: $white;
                        font-size: 12px;
                        font-weight: 500;
                    }
                }
            }
        }
    }
    
    .content-block {
        .title {
            font-size: 20px;
            font-weight: 700;
            line-height: 30px;
        }
    }
    
    .submit-btn {
        width: 100%;
        padding: 10px 30px;
        background-color: transparent;
        border: 1px solid $white;
        color: $white;
        border-radius: 50px;
        transition: all 500ms;
        cursor: pointer;
        &:hover {
            background-color: $white;
            color: var(--main-color-one);
        }
    }