/*-------------------------
    Contact Info Item
-------------------------*/

.single-contact-item {
    display: flex;
    align-self: flex-start;
    background-color: var(--bg-color-two);
    padding: 25px 30px;
    .icon {
        line-height: 60px;
        text-align: center;
        margin-right: 20px;
        font-size: 40px;
        color: $white;
        @include transition($transition);
        &.style-01 {
            color: #bd10e0;
        }
        &.style-02 {
            color: #ff8a73;
        }
        &.style-03 {
            color: #95b0ff;
        }
        &.style-04 {
            color: #2fe4a2;
        }
    }
    .content {
        flex: 1;
        .title {
            font-size: 14px;
            font-weight: 500;
            line-height: 20px;
            color: var(--heading-color);
        }
        .details {
            font-weight: 700;
            color: var(--heading-color);
        }
    }
}

.contact-info-list {
    margin: 0;
    padding: 0;
    list-style: none;
    .single-info-item {
        display: flex;
        align-self: flex-start;
        &:hover {
            .icon {
                background-color: var(--secondary-color);
            }
        }
        +.single-info-item {
            margin-top: 20px;
        }
        .icon {
            display: inline-block;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            line-height: 60px;
            text-align: center;
            margin-right: 20px;
            background-color: var(--main-color-one);
            font-size: 30px;
            color: $white;
            @include transition($transition);
        }
        .content {
            flex: 1;
            .details {
                display: block;
            }
        }
    }
}

.contact_map {
    height: 100%;
}

#map {
    min-height: 900px;
    background-color: #ddd;
}

#map-2 {
    min-height: 100%;
    background-color: #ddd;
}

.map-wrapper {
    position: relative;
    .contact-wrapper {
        position: absolute;
        top: 0;
    }
}

.contact-info {
    padding: 60px 50px 70px;
    box-shadow: 0px 0px 158px 0px rgba(0, 0, 0, 0.2);
}

.contact-page-form {
    .form-group {
        textarea {
            max-height: 160px;
            resize: none;
        }
        .form-control {
            border: transparent;
            border-radius: 0;
            border-bottom: 1px solid #98989c;
            padding: 15px 30px 15px 0;
            margin-bottom: 25px;
        }
    }
}