/*---------------------------------
    Price Plan Item
---------------------------------*/

.pricing-plan-area {
    &.bg-image {
        position: relative;
        background-size: cover;
        background-repeat: no-repeat;
        z-index: 0;
        &::after {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.3);
            z-index: -1;
        }
    }
}

.single-price-plan-01 {
    text-align: center;
    -webkit-transition: 0.3s ease-in;
    -o-transition: 0.3s ease-in;
    transition: 0.3s ease-in;
    position: relative;
    z-index: 0;
    overflow: hidden;
    background-color: $white;
    padding: 40px 0 60px;
    -webkit-box-shadow: 0px 0px 7px 0px rgba(48, 55, 63, 0.35);
    box-shadow: 0px 0px 7px 0px rgba(48, 55, 63, 0.35);
    &.style-01 {
        background-image: linear-gradient(-240deg, #fd5b56 0%, #f41e7e 100%);
    }
    &.style-02 {
        background-color: var(--secondary-color);
    }
    &.style-03 {
        background-color: var(--main-color-one);
    }
    &.active {
        .price-header {
            .name {
                color: $white;
            }
            .price-wrap {
                .price {
                    color: $white;
                }
                .month {
                    color: $white;
                }
            }
        }
        .price-body ul {
            li {
                color: $white;
            }
        }
        .btn-wrapper {
            .boxed-btn {
                border: 1px solid $white;
                background-color: transparent;
                &:hover {
                    background-color: $white;
                    color: var(--main-color-one);
                }
            }
        }
    }
    .price-header {
        position: relative;
        .name-box {
            .name {
                font-weight: 700;
                font-size: 24px;
                transition: 0.3s ease-in;
            }
        }
        .popular {
            position: absolute;
            top: 15px;
            right: -55px;
            display: inline-block;
            background-color: var(--main-color-one);
            padding: 10px 30px;
            width: 180px;
            -webkit-transform: rotate(40deg);
            -ms-transform: rotate(40deg);
            transform: rotate(40deg);
            color: #fff;
            text-transform: uppercase;
            font-size: 12px;
        }
        .title {
            color: #fff;
            font-size: 24px;
            line-height: 36px;
            font-weight: 600;
            padding: 20px 0;
            margin-bottom: 30px;
            background-color: var(--secondary-color);
            font-family: var(--heading-font);
        }
        .price-wrap {
            display: flex;
            align-items: center;
            justify-content: center;
            .price {
                font-size: 72px;
                font-family: var(--heading-font);
                line-height: 60px;
                font-weight: 700;
                color: var(--heading-color);
                -webkit-transition: 0.3s ease-in;
                -o-transition: 0.3s ease-in;
                transition: 0.3s ease-in;
                text-align: center;
                position: relative;
                z-index: 0;
                margin-top: 20px;
                .dollar {
                    font-size: 33px;
                    line-height: 33px;
                    position: relative;
                    top: -12px;
                }
            }
            .month {
                font-size: 18px;
                line-height: 20px;
                transition: 0.3s ease-in;
            }
        }
    }
    .price-body ul {
        margin: 0;
        padding: 0;
        margin-top: 25px;
        margin-bottom: 25px;
        li {
            list-style: none;
            display: block;
            margin: 10px 0;
            font-size: 16px;
            font-weight: 500;
            color: var(--heading-color);
            -webkit-transition: 0.3s ease-in;
            -o-transition: 0.3s ease-in;
            transition: 0.3s ease-in;
            &:first-child {
                margin-top: 0;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    .btn-wrapper {
        .boxed-btn {
            border: 1px solid transparent;
        }
    }
}